<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <!-- unfurling -->
    <!-- facebook open graph tags -->
    <meta property="og:type" content="website" />
     <meta property="og:url" content="https://sreeuci.github.io/somarees/" />
     <meta property="og:title" content="{{page.title}}" />
    <meta property="og:description" content="Soma is marrying Sree" />
</head>

